* {
  box-sizing: border-box;
}

body {
  background-color: #f7f1e3;
}

#item_info {
  width: 500px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  margin: 100px auto 0 auto;
  padding-top: 10px;
  background-color: white;
}

p {
  margin-bottom: 10px;
}

#pic {
  width: 498px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#store {
  width: 480px;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 0 10px;
  padding: 10px;
}

#store h1 {
  font-size: 25px;
}

#user {
  width: 480px;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

#like {
  position: absolute;
  left: 400px;
  top: 20px;
  padding: 0;
  width: 60px;
}

.date {
  color: darkcyan;
}

.tags {
  color: darkslategrey;
}

form {
  width: 480px;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
}

#join {
  position: absolute;
  left: 320px;
  top: 20px;
  padding: 0;
  width: 90px;
}

#join, #cancel {
  display: inline;
  margin: 0;
  padding: 0 10px 10px 10px;
}

#write {
  padding: 20px 10px 0 10px;
}

#item_info > form > div > input {
  width: 360px;
}

#comment {
  width: 480px;
  margin: 0 10px;
  padding: 10px;
}

#comment ul {
  margin: 0 auto 10px auto;
}

#comment ul li {
  font-size: 15px;
}

#comment ul li:nth-child(2) {
  width: 380px;
  border-right: 0;
}

#comment .delete-li {
  padding: 0;
  border:0;
}

#comment .delete {
  display: inline-block;
  width: 40px;
  margin: 0;
  padding: 0;
}

#comment .delete button {
  height: 40.5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}