<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>혼밥</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/detail.css" type="text/css">
        <script src="js/jquery-3.5.1.js"></script>
        <script>
          $('#like button').click(() => {
            if ($('#checked').val() === 'like') {
              $('#checked').val() === 'dislike'
            } else {
              $('#checked').val() === 'like'
            }
          })
        </script>
    </head>
    <body>
      <div id="item_info">
        <div id="store">
          <h1>갓덴스시 강남점</h1>
          <p>서울 강남구 테헤란로 109 강남제일빌딩 1층 (우)06134</p>
          <p>02-2051-1477</p>
        </div>
        <div id="user">
          <form id='join' action='/detail/parti' method='post'>
            <button type="submit" class="btn btn-outline-success">참가</button>
          </form>
          <form id='like' action='/detail/like' method='post'>
            <input type="hidden" name="post_id_give" value={{post_id}}>
            <input id='checked' type="hidden" name="action_give" value='like'>
            <button type="submit" class="btn btn-outline-warning">👍🏻 {{likes}}</button>
          </form>
          <i class="bi bi-hand-thumbs-up"></i>
          <p class="user_id">유저123</p>
          <p class="date">2022.05.10 18:00</p>
          <p class="tags">#4인 이하 #더치페이 #2차 없음</p>
          <p>저랑 같이 스시 드실분 구합니다!</p>
        </div>
        <form id='write' action='/detail/write' method='post'>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="한줄 남기기" name="comment">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">등록</button>
          </div>
        </form>
        <div id='form-btns'>
          
        </div>
        <div id="comment">
          {% for comment in comments %}
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item">{{comment.user_id}}</li>
              <li class="list-group-item">{{comment.comment}}</li>
              <li class="list-group-item delete-li">
                <form class='delete' action='/detail/delete' method='post'>
                  <input type='hidden' name='index' value={{comment.index}}></input>
                  <button type="submit" class="btn btn-outline-danger">삭제</button>
                </form>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
      <script></script>
    </body>
</html>