<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>Home | 혼밥은 싫어</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--mystyle.css-->
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    
    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Jua&display=swap" rel="stylesheet">

    <style>
    </style>


    <script>
         function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
        function searchAddress() {
            $("#search_result").empty()
            $("#chosen_one").empty()
            if ($("#place").val() == "") {
                alert("검색어를 입력하세요")
            } else {
                var q = $("#place").val(); //검색 내용
                //ajax 시작
                $.ajax({
                    url: 'https://dapi.kakao.com//v2/local/search/keyword',
                    headers: {'Authorization': 'KakaoAK d1e860dcc4958625477d32113326c5ee'},
                    type: 'GET',
                    data: {'query': q},
                    success: function (response) {
                        //호출 성공하면 작성할 내용
                        let rows = response['documents']
                        for (let i = 0; i < rows.length; i++) {
                            let id = rows[i]['id']
                            let place = rows[i]['place_name']
                            let address = rows[i]['address_name']
                            let url = rows[i]['place_url']
                            let category = rows[i]['category_name']



                            if (rows[i]['category_group_code'] == "FD6") {

                                let temp_html = `<button type="button" class="button" onclick="hey(${id})">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${place}</h5>
                                                        <p class="card-text">${address}</p>
                                                        <p class="card-text">${category}</p>
                                                        <p class="card-text"><small class="text-muted">${url}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>`

                                $("#search_result").append(temp_html)
                            }
                        }

                        console.log(rows)
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            }
        }

        function hey(a) {
            $("#search_result").empty()
            if ($("#place").val() == "") {
                alert("검색어를 입력하세요")
            } else {
                var q = $("#place").val(); //검색 내용
                //ajax 시작
                $.ajax({
                    url: 'https://dapi.kakao.com//v2/local/search/keyword',
                    headers: {'Authorization': 'KakaoAK d1e860dcc4958625477d32113326c5ee'},
                    type: 'GET',
                    data: {'query': q},
                    success: function (response) {
                        //호출 성공하면 작성할 내용
                        let rows = response['documents']
                        for (let i = 0; i < rows.length; i++) {
                            if (rows[i]['id'] == a) {
                                let id = rows[i]['id']
                                let place = rows[i]['place_name']
                                let address = rows[i]['address_name']
                                let url = rows[i]['place_url']
                                let category = rows[i]['category_name']

                                let temp_html = `<button type="button" class="button">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title" id="cp">${place}</h5>
                                                        <p class="card-text" id="ca">${address}</p>
                                                        <p class="card-text" id="cc">${category}</p>
                                                        <p class="card-text"><small class="text-muted" id="cu">${url}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>`

                                $("#chosen_one").append(temp_html)
                            }

                        }

                    },
                })
            }
        }

        function posting() {

            let place = $("#cp").text()
            let address = $("#ca").text()
            let url = $("#cu").text()
            let date = $("#date").val()
            let category = $("#cc").text()

            $.ajax({
                type: 'POST',
                url: '/posting',
                data: {
                    title_give: $("#title").val(),
                    place_give: place,
                    address_give: address,
                    desc_give: $("#desc").val(),
                    tag_give: $("#tag").val(),
                    url_give: url,
                    payment_give: $("#payment").val(),
                    datenow_give: new Date().toISOString(),
                    date_give: date,
                    category_give: category,
                    time_give: $("#time").val(),
                    maxcount_give: $("#maxcount").val()
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function key_search() {
            $("#post-box").empty()
            let keyword = $("#key_m").val()
            let pdate = $("#date_m").val()
            $.ajax({
                type: 'GET',
                url: "/database",
                data: {},
                success: function (response) {
                    let rows = response['posts']
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let place = rows[i]['place']
                        let address = rows[i]['address']
                        let tag = rows[i]['tag']
                        let adate = rows[i]['date']
                        let category = rows[i]['category']
                        let post_id = rows[i]['post_id']
                        if (adate != pdate) {}
                        else {
                            if (title.includes(keyword)||place.includes(keyword)||address.includes(keyword)||tag.includes(keyword)) {
                                console.log(title,place,address,tag,adate)

                                let temp_html = `<div class="col">
                                                    <div class="card h-100">
                                                        <div class="card-body">
                                                            <h5 class="card-title">${place}</h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">${category}</h6>
                                                            <p class="card-text">${adate}</p>
                                                            <p class="card-text">${address}</p>
                                                            <a href="detail/${post_id}" class="btn btn-outline-warning" style="margin-top: 10px">더 자세히 보기</a>
                                                        </div>
                                                    </div>
                                                </div>`

                                $("#post-box").append(temp_html)

                            }
                        }



                    }
                }
            })
        }

    </script>

</head>
<body>
<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong class="is-sparta"
                    style="font-family: 'Dongle', sans-serif;font-size: larger;color: #2f4759 !important;">😢 혼밥은 싫어</strong>
        </a>
    </div>
    <figure class="media-left" style="align-self: center">
        <a class="image is-32x32" href="/user/{{ user_info.id }}">
            <img class="is-rounded" src="{{ url_for("static", filename="profile_pics/profile_placeholder.png") }}">
        </a>
        <p>{{ user_info.id }} 님</p>
        <a class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout"
           onclick="sign_out()">
            로그아웃&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out"
                                                                 aria-hidden="true"></i></span>
        </a>
    </figure>
</nav>
<section class="section">
    <article class="media">
{#        <figure class="media-left" style="align-self: center">#}
{#            <a class="image is-32x32" href="/user/{{ user_info.id }}">#}
{#                <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">#}
{#            </a>#}
{#        </figure>#}
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <button class="button is-danger is-rounded" id="input-post"
                           onclick='$("#modal-post").addClass("is-active")' style="background-color: #e7b934;">오늘의 밥 친구 만들기</button>
                </p>
            </div>
        </div>
    </article>
    {#            포스팅 할 수 있는 곳#}
    <div class="modal" id="modal-post">
        <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
        <div class="modal-content">
            <div class="mypost">
    <div class="form-floating">
        <textarea class="form-control" placeholder="제목" id="title"></textarea>
        <label for="title">여기에 포스팅 제목을 적어주세요</label>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="내가 가고싶은 곳은 여기!"
               aria-describedby="button-addon2" id="place">
        <button class="btn btn-outline-secondary" type="button" onclick="searchAddress()">식당 검색하기
        </button>
    </div>
    <div id="chosen_one">
    </div>
    <div id="search_result">
    </div>
    <div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="date" placeholder="">
            <label for="date">날짜를 정하세요</label>
        </div>
        <div class="form-floating mb-3">
            <input type="time" class="form-control" id="time" placeholder="">
            <label for="time">시간을 정하세요</label>
        </div>
    </div>
    <div class="row g-2" id="catset">
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="payment" aria-label="Floating label select example">
                    <option selected>--결제 방식--</option>
                    <option value="내.돈.내.먹.">내.돈.내.먹.</option>
                    <option value="무조건 n 분의 1 빵">무조건 n 분의 1 빵</option>
                    <option value="오늘은 내가 쏜다!">오늘은 내가 쏜다!</option>
                    <option value="무전취식 - 발빠르신 분만">무전취식 - 발빠르신 분만</option>
                </select>

                <label for=payment>오늘의 물주는 누구?</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="maxcount" aria-label="Floating label select example">
                    <option selected>--최대 인원수--</option>
                    <option value="1">1명</option>
                    <option value="2">2명</option>
                    <option value="3">3명</option>
                    <option value="4">PARTY TONIGHT!</option>
                </select>
                <label for="maxcount">몇명까지 커버 가능?</label>
            </div>
        </div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="여기에 꼭 가야하는 이유!" id="desc"
                  style="height: 200px"></textarea>
        <label for="desc">여기에 꼭 가야하는 이유!</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="태그 달기" id="tag"></textarea>
        <label for="tag">태그는 여기에 달아주세요</label>
    </div>
    <div class="btnset">
        <button onclick="posting()" type="button" class="btn btn-primary">가앝즈아아아아아아아아!</button>
        <button onclick="test()" type="button" class="btn btn-danger" id="stop">잠깐 이거 아닌거 같애</button>
    </div>
</div>
</div>
               </div>
            </section>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-post").removeClass("is-active")'></button>
    </div>
</section>


{#        포스팅된 데이터 불러오는 곳#}
<section class="section">
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="date_m" placeholder=""
                       value="">
                <label for="date_m">날짜는 여기에</label>
            </div>
        </div>
        <div class="col-md">
            <div class="input-group mb-3">
                <input type="text" id="key_m" style="height: 58px" class="form-control" placeholder="키워드는 여기"
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" onclick="key_search()">검색하기</button>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="post-box">
            {% for post in posts %}
                {% set place = post["place"] %}
                {% set address = post["address"] %}
                {% set date = post["date"] + " " + post["time"] %}
                {% set category = post["category"] %}

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ place }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ category }}</h6>
                            <p class="card-text">{{ date }}</p>
                            <p class="card-text">{{ address }}</p>
                            <a href="detail/{{ post["post_id"] }}" class="btn btn-outline-warning" style="margin-top: 10px">더 자세히 보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
</body>
</html>
