<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--구글 폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Jua&display=swap" rel="stylesheet">

    <title>로그인 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        body {
            background-color: #f7f1e3;
            min-height: 100vh;
        }

        .section {
            padding: 1rem 1.5rem;
            max-width: 750px;
            margin: auto;
        }

        .title {
            font-weight: 800;
            font-size: 5rem;
            font-family: 'Dongle', sans-serif;
        }

        .subtitle {
            font-size: 2rem;
        }

        .is-sparta {
            color: #2f4759 !important;
        }

        .button.is-sparta {
            background-color: #e7b934;
            border-color: transparent;
            color: #fff !important;
        }

        .button.is-sparta.is-outlined {
            background-color: transparent;
            border-color: #e7b934;
            color: #e7b934 !important;
        }

        .help {
            color: gray;
        }
    </style>
    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.

        function searchAddress() {
            alert($("#place").val())
            $("#search_result").empty()
            $("#chosen_one").empty()
            if ($("#place").val() == "") {
                alert("검색어를 입력하세요")
            } else {
                var q = $("#place").val(); //검색 내용
                //ajax 시작
                $.ajax({
                    url: 'https://dapi.kakao.com//v2/local/search/keyword',
                    headers: {'Authorization': 'KakaoAK d1e860dcc4958625477d32113326c5ee'},
                    type: 'GET',
                    data: {'query': q},
                    success: function (response) {
                        //호출 성공하면 작성할 내용
                        let rows = response['documents']
                        for (let i = 0; i < rows.length; i++) {
                            let id = rows[i]['id']
                            let place = rows[i]['place_name']
                            let address = rows[i]['address_name']
                            let url = rows[i]['place_url']
                            let category = rows[i]['category_name']


                            if (rows[i]['category_group_code'] == "FD6") {

                                let temp_html = `<button type="button" class="button" onclick="hey(${id})" style="height: auto; width: 100%; margin-bottom: 15px;>
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${place}</h5>
                                                        <p class="card-text">${address}</p>
                                                        <p class="card-text">${category}</p>
                                                        <p class="card-text"><small class="text-muted">${url}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>`

                                $("#search_result").append(temp_html)
                            }
                        }

                        console.log(rows)
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            }
        }

        function hey(a) {
            $("#search_result").empty()
            if ($("#place").val() == "") {
                alert("검색어를 입력하세요")
            } else {
                var q = $("#place").val(); //검색 내용
                //ajax 시작
                $.ajax({
                    url: 'https://dapi.kakao.com//v2/local/search/keyword',
                    headers: {'Authorization': 'KakaoAK d1e860dcc4958625477d32113326c5ee'},
                    type: 'GET',
                    data: {'query': q},
                    success: function (response) {
                        //호출 성공하면 작성할 내용
                        let rows = response['documents']
                        for (let i = 0; i < rows.length; i++) {
                            if (rows[i]['id'] == a) {
                                let id = rows[i]['id']
                                let place = rows[i]['place_name']
                                let address = rows[i]['address_name']
                                let url = rows[i]['place_url']
                                let category = rows[i]['category_name']

                                let temp_html = `<button type="button" class="button" style="height: auto; width: 100%; margin-bottom: 15px">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title" id="cp">${place}</h5>
                                                        <p class="card-text" id="ca">${address}</p>
                                                        <p class="card-text" id="cc">${category}</p>
                                                        <p class="card-text"><small class="text-muted" id="cu">${url}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>`

                                $("#search_result").append(temp_html)
                            }

                        }

                    },
                })
            }
        }

        function posting() {
             let title = $("#title").val()
             let place = $("#cp").text()
             let desc = $("#desc").val()
             let tag = $("#tag").val()
             let payment = $("#payment").val()
             let address = $("#ca").text()
             let url = $("#cu").text()
             let date = $("#date").val()
             let category = $("#cc").text()
             let time = $("#time").val()
             let maxcount = $("#maxcount").val()

             if (title == "") {
                 alert("멋있는 제목이 있어야겠죠?")
             } else {
                 if (place == "") {
                     alert("장소검색 후 해당하는 식당을 선택하세요")
                 } else {
                     if (date == "") {
                         alert("언제한번 밥먹자!는 안돼요! 날짜를 정하세요")
                     } else {
                         if (time == "") {
                             alert("설마 24시간 대기중? 시간을 정하세요")
                         } else {
                             if (payment == "--결제 방식--") {
                                 alert("뒷수습 방법을 정해주세요")
                             } else {
                                 if (maxcount == "--최대 인원수--") {
                                     alert("적정 인원수를 선택하세요")
                                 } else {
                                     if (desc == "") {
                                         alert("매너 있고 센스있는 설명 필수!")
                                     } else {
                                         $.ajax({
                                             type: 'POST',
                                             url: '/posting',
                                             data: {
                                                 title_give: title,
                                                 place_give: place,
                                                 address_give: address,
                                                 desc_give: desc,
                                                 tag_give: tag,
                                                 url_give: url,
                                                 payment_give: payment,
                                                 datenow_give: new Date().toISOString(),
                                                 date_give: date,
                                                 category_give: category,
                                                 time_give: time,
                                                 maxcount_give: maxcount
                                             },
                                             success : function (response) {
                                                 alert(response['msg'])
                                                 window.location.reload()
                                             }

                                         });
                                     }
                                 }
                             }
                         }
                     }
                 }
             }

         }

        function sign_up() {
            let title = $("#title").val()
             let place = $("#cp").text()
             let desc = $("#desc").val()
             let tag = $("#tag").val()
             let payment = $("#payment").val()
             let address = $("#ca").text()
             let url = $("#cu").text()
             let date = $("#date").val()
             let category = $("#cc").text()
             let time = $("#time").val()
             let maxcount = $("#maxcount").val()
            console.log(username, password, password2)


            if ($("#help-id").hasClass("is-danger")) {
                alert("아이디를 다시 확인해주세요.")
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("아이디 중복확인을 해주세요.")
                return;
            }

            if (password == "") {
                $("#help-password").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return;
            } else if (!is_password(password)) {
                $("#help-password").text("비밀번호의 형식을 확인해주세요. 영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능 8-20자").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return
            } else {
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }
            if (password2 == "") {
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else if (password2 != password) {
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else {
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }
            $.ajax({
                type: "POST",
                url: "/sign_up/save",
                data: {
                    id_give: username,
                    pw_give: password
                },
                success: function (response) {
                    alert("회원가입을 축하드립니다!")
                    window.location.replace("/login")
                }
            });

        }

        function check_dup() {
            let title = $("#title").val()
            let place = $("#cp").text()
            let desc = $("#desc").val()
            let tag = $("#tag").val()
            let payment = $("#payment").val()
            let address = $("#ca").text()
            let url = $("#cu").text()
            let date = $("#date").val()
            let category = $("#cc").text()
            let time = $("#time").val()
            let maxcount = $("#maxcount").val()
            if (title == "") {
                $("#help-title").text("제목을 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#title").focus()
                return;
            } else {
                $("#help-title").text("체크 완료!").removeClass("is-danger").addClass("is-success")
            }
            if (place == "") {
                $("#help-place").text("장소를 검색하고 확인해 주세요.").removeClass("is-safe").addClass("is-danger")
                $("#place").focus()
                return;
            } else {
                $("#help-place").text("체크 완료!").removeClass("is-danger").addClass("is-success")
            }
            if (date == "") {
                $("#help-date").text("약속날짜를 정해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#date").focus()
                return;
            } else {
                $("#help-date").text("체크 완료!").removeClass("is-danger").addClass("is-success")
                if (time == "") {
                    $("#help-time").text("약속시간을 정해주세요.").removeClass("is-safe").addClass("is-danger")
                    $("#time").focus()
                    return;
                } else {
                    $("#help-time").text("체크 완료!").removeClass("is-danger").addClass("is-success")
                }
                if (payment == "") {
                    $("#help-payment").text("지불방식을 정하세요.").removeClass("is-safe").addClass("is-danger")
                    $("#payment").focus()
                    return;
                } else {
                    $("#help-payment").text("체크 완료!").removeClass("is-danger").addClass("is-success")
                }
                if (maxcount == "") {
                    $("#help-maxcount").text("모임 최대인원을 설정하세요.").removeClass("is-safe").addClass("is-danger")
                    $("#maxcount").focus()
                    return;
                } else {
                    $("#help-maxcount").text("체크 완료!").removeClass("is-danger").addClass("is-success")
                }
                if (desc == "") {
                    $("#help-desc").text("간단한 설명을 써 주세요.").removeClass("is-safe").addClass("is-danger")
                    $("#desc").focus()
                    return;
                } else {
                    $("#help-desc").text("체크 완료!").removeClass("is-danger").addClass("is-success")

                }

            }

            $.ajax({
                type: 'POST',
                url: '/posting',
                data: {
                    title_give: title,
                    place_give: place,
                    address_give: address,
                    desc_give: desc,
                    tag_give: tag,
                    url_give: url,
                    payment_give: payment,
                    datenow_give: new Date().toISOString(),
                    date_give: date,
                    category_give: category,
                    time_give: time,
                    maxcount_give: maxcount
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }

            });

        }

        function whatthefuck() {
            alert("what")
        }

    </script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="box" style="max-width: 480px;margin:auto">
            <div class="mb-5">
                <div class="field">
                    <div class="control has-icons-left" style="width:100%">
                        <input id="title" class="input" type="text"
                               placeholder="포스팅 제목을 적어주세요">
                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                        <p id="help-title" class="help">필수 입력사항입니다</p>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control has-icons-left" style="width:100%">
                        <input id="place" class="input" type="text" placeholder="음식점 이름">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                        <p id="help-place" class="help">가급적 이름을 정확히 검색한 뒤 선택하세요</p>
                    </div>
                    <div id="btn-check-dup">
                        <button class="button is-sparta" onclick="searchAddress()">검색하기</button>
                    </div>

                </div>
                <div>
                    <div id="chosen_one"></div>
                    <div id="search_result"></div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="date" placeholder="">
                        <label for="date">날짜를 정하세요</label>
                        <p id="help-date" class="help">필수 입력사항입니다</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="time" placeholder="">
                        <label for="time">시간을 정하세요</label>
                        <p id="help-time" class="help">필수 입력사항입니다</p>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="payment" aria-label="Floating label select example">
                                <option selected>--결제 방식--</option>
                                <option value="내.돈.내.먹.">내.돈.내.먹.</option>
                                <option value="무조건 n 분의 1 빵">무조건 n 분의 1 빵</option>
                                <option value="오늘은 내가 쏜다!">오늘은 내가 쏜다!</option>
                                <option value="무전취식 - 발빠르신 분만">무전취식 - 발빠르신 분만</option>
                            </select>
                            <p id="help-payment" class="help">필수 입력사항입니다</p>

                            <label for=payment>오늘의 물주는 누구?</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="maxcount" aria-label="Floating label select example">
                                <option selected>--최대 인원수--</option>
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                                <option value="3">3명</option>
                                <option value="4">PARTY TONIGHT!</option>
                            </select>
                            <p id="help-maxcount" class="help">필수 입력사항입니다</p>
                            <label for="maxcount">몇명까지 커버 가능?</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                <textarea class="form-control" placeholder="여기에 꼭 가야하는 이유!" id="desc"
                style="height: 200px; margin-top: 15px"></textarea>
                    <label for="desc">여기에 꼭 가야하는 이유!</label>
                    <p id="help-desc" class="help">필수 입력사항입니다</p>
                </div>
                <div class="form-floating" style="margin-top: 15px">
                    <textarea class="form-control" placeholder="태그 달기" id="tag"></textarea>
                    <label for="tag">태그는 여기에 달아주세요</label>
                </div>
                <div id="div-sign-in-or-up" class="has-text-centered" style="margin-top: 15px">
                        <div class="level is-mobile">
                            <button class="level-item button is-sparta" onclick="check_dup()">
                                포스팅하기!
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
